In [ ]:
# 1 Average departure delay of each airline per airport

# AIRLINE
# ORIGIN AIRPORT
# Total number of flight
# OPERATED RATE (non cancel rate)
# DELAY RATE (DEPARTURE)
# AVERAGE DELAY MINUTES (do not count early arrival)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_airports = pd.read_csv('airports.csv')
df_airlines = pd.read_csv('airlines.csv')
df_flights = pd.read_csv('flights.csv')

/var/folders/68/rv4nttt14v19fs_fppl9tzvc0000gn/T/ipykernel_35557/4208662450.py:3: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_flights = pd.read_csv('flights.csv')

In [24]:
df_flights['DELAY_MINUTES'] = df_flights['ARRIVAL_DELAY'].apply(lambda x: 0 if x < 0 else x)

In [30]:
df_flights['DELAYED'] = df_flights['ARRIVAL_DELAY'].apply(lambda x: 1 if x > 0 else 0)

In [47]:
df_homework = df_flights.groupby(['AIRLINE','ORIGIN_AIRPORT']).agg({'FLIGHT_NUMBER':'count','CANCELLED':'sum','DELAY_MINUTES':'mean','DELAYED':'sum'})
df_homework['OPERATED_RATE'] = df_homework['CANCELLED']/df_homework['FLIGHT_NUMBER']
df_homework['OPERATED_RATE'] = df_homework['OPERATED_RATE'].apply(lambda x: str(100 - x * 100) +'%')
df_homework['DELAYED_RATE'] = df_homework['DELAYED']/df_homework['FLIGHT_NUMBER']
df_homework['DELAYED_RATE'] = df_homework['DELAYED_RATE'].apply(lambda x: str(x * 100) +'%')
df_homework.drop(columns = ['CANCELLED' , 'DELAYED'] , inplace = True)
df_homework.rename(columns={'FLIGHT_NUMBER':'TOTAL_NUMBER_OF_FLIGHT'},inplace =True)
df_homework = df_homework[['TOTAL_NUMBER_OF_FLIGHT','OPERATED_RATE','DELAYED_RATE','DELAY_MINUTES']]
df_homework

                        TOTAL_NUMBER_OF_FLIGHT       OPERATED_RATE  \
AIRLINE ORIGIN_AIRPORT
AA      10140                              174  97.70114942528735%
        10257                               80              100.0%
        10299                               32              100.0%
        10397                              917  99.23664122137404%
        10423                              786  98.09160305343511%
...                                        ...                 ...
WN      SNA                              17197  99.12775484096063%
        STL                              27753  98.89021006738011%
        TPA                              25888  99.10769468479604%
        TUL                               4098  99.24353343094192%
        TUS                               4201  99.52392287550583%

                               DELAYED_RATE  DELAY_MINUTES
AIRLINE ORIGIN_AIRPORT
AA      10140           23.563218390804597%      11.621302
        10257                        26.25%       5.734177
        10299                         25.0%       3.343750
        10397           27.044711014176663%       6.518722
        10423            19.21119592875318%       9.879064
...                                     ...            ...
WN      SNA              37.98918416002791%       8.574289
        STL              36.74918026879977%      11.612311
        TPA               34.2398022249691%      11.085972
        TUL              33.38213762811127%      10.799359
        TUS              33.89669126398476%       9.332694

[3437 rows x 4 columns]